<div class="timeline">
  <div class="timeline__event  animated fadeInUp delay-3s timeline__event--type1">
    <div class="timeline__event__icon ">
      <i class="lni-cake"></i>
      <div class="timeline__event__date">
       2018
      </div>
    </div>
    <div class="timeline__event__content ">
      <div class="timeline__event__title">
        Conceptualized
      </div>
      <div class="timeline__event__description">
        <p>Uncle Peter's Pancakes was conceptualized and started off through food festivals and events!</p>
      </div>
    </div>
  </div>
  <div class="timeline__event animated fadeInUp delay-2s timeline__event--type2">
    <div class="timeline__event__icon">
      <i class="lni-burger"></i>
      <div class="timeline__event__date">
        2019
      </div>
    </div>
    <div class="timeline__event__content">
      <div class="timeline__event__title">
        Operations
      </div>
      <div class="timeline__event__description">
        <p>Uncle Peter's Pancakes was conceptualized and started off through food festivals and events!</p>
      </div>
    </div>
  </div>
  <div class="timeline__event animated fadeInUp delay-1s timeline__event--type3">
    <div class="timeline__event__icon">
      <i class="lni-slim"></i>
      <div class="timeline__event__date">
        2021
      </div>
    </div>
    <div class="timeline__event__content">
      <div class="timeline__event__title">
        Expansion
      </div>
      <div class="timeline__event__description">
        <p>Expansion started into different cities across India. Expansion into a total of 10 outlets pan India.</p>
      </div>

    </div>
  </div>
  <div class="timeline__event animated fadeInUp delay-1s timeline__event--type3">
    <div class="timeline__event__icon">
      <i class="lni-slim"></i>
      <div class="timeline__event__date">
        2022
      </div>
    </div>
    <div class="timeline__event__content">
      <div class="timeline__event__title">
        Pan Ind
      </div>
      <div class="timeline__event__description">
        <p>UPP team grows bigger and stronger and expansion into a total of 35 outlets across 14 cities across India.</p>
      </div>

    </div>
  </div>
</div>