<section>
  <div class="container header_text">
    <h1 class="glbf">OUR STORY</h1>
    <p>We always loved pancakes but the only ones we would get were the absolute basic ones. Although they tasted great
      but something was missing, we craved for more varieties. During one of our Paris trips we finally had a chance to
      explore multiple varieties and forms of pancakes! And that’s when we sat down, chalked it out and started our
      journey! We did take inspiration from a lot of worldwide pancake restaurants but at the same time we did our own
      brainstorming and landed up with some varieties of pancakes which are available nowhere else!</p>
    <p>It took us almost a year to standardize our batter; we were not going to serve anything short of extremely soft
      and fluffy pancakes. Finally in the summer of 2019 we started off from a small cloud kitchen based out of
      Bangalore and ever since there has been no looking back!</p>
    <p>We have won a handful of awards and features and we are currently placed at 8 cities across the country! We dream
      of reaching 50+ outlets by 2023</p>
  </div>

</section>

<section>
  <div class="timeline_padding">
    <ul class="timeline">
  
      <li><span class="year">2018</span>
        <ul class="content">
          <li>
            <h5>Conceptualized</h5>
            <p>Uncle Peter's Pancakes was conceptualized and started off through food festivals and events!</p>
          </li>
        </ul>
      </li>
      <li><span class="year">2019</span>
        <ul class="content">
          <li>
            <h5>Operations</h5>
            <p>Operations started and first cloud kitchen and first cafe opened at Indiranagar, Bangalore</p>
          </li>
        </ul>
      </li>
      <li><span class="year">2021</span>
        <ul class="content">
          <li>
            <h5>Expansion</h5>
            <p>Expansion started into different cities across India. Expansion into a total of 10 outlets pan India</p>
          </li>
        </ul>
      </li>
      <li><span class="year">2022</span>
        <ul class="content">
          <li>
            <h5>Pan India Brand</h5>
            <p>UPP team grows bigger and stronger and expansion into a total of 35 outlets across 14 cities across India
            </p>
          </li>
        </ul>
      </li>
  
      <li><span class="year new">Sustained Growth</span></li>
    </ul>
  </div>
</section>
<section class="container">
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <!-- <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button> -->
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="card m-2" style="align-items: center;">
          <div class="card-body row p-0" style="width: 100%;padding: calc(var(--bs-gutter-x) * 0.5) !important;">
            <div class="col-md-6">
              <div class="col-4"></div>
              <div class="col-md-12" style="background-color: red;">
                <img class="card_img" src="../../assets/sundeep.png" />
              </div>
            </div>
            <div class="col-md-6" style="display: flex;flex-direction: column; align-items: center;justify-content: center; text-align: center;">
              <h2 class="glbf">
                SUNDEEP<span style="font-size: 20px; font-style: italic;"> CO-FOUNDER</span>
              </h2>
              <p>An engineering graduate from BITS Pilani Goa, Sundeep wanted to pursue his passion and venture into the food industry! Sundeep has years of experience in this industry and acts as a backbone to Bogmalo Foods & Hospitality! Sundeep's experience in operations and marketing helps the company move in the positive direction at all times! Sundeep is responsible for making the company technology enabled that can be transferred across all outlets pan India</p>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="card m-2" style="align-items: center;">
          <div class="card-body row p-0" style="width: 100%;padding: calc(var(--bs-gutter-x) * 0.5) !important;">
            <div class="col-md-6">
              <div class="col-4"></div>
              <div class="col-md-12" style="background-color: red;">
                <img class="card_img" src="../../assets/akashdeep.png" />
              </div>
            </div>
            <div class="col-md-6" style="display: flex;flex-direction: column; align-items: center;justify-content: center; text-align: center;">
              <h2 class="glbf">
                AKASHDEEP<span style="font-size: 20px; font-style: italic;"> CO-FOUNDER</span>
              </h2>
              <p class="">An engineering graduate from BITS Pilani Goa, Sundeep wanted to pursue his passion and venture into the food industry! Sundeep has years of experience in this industry and acts as a backbone to Bogmalo Foods & Hospitality! Sundeep's experience in operations and marketing helps the company move in the positive direction at all times! Sundeep is responsible for making the company technology enabled that can be transferred across all outlets pan India</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  
  </div>
</section>


<div class="pt-2 pt-md-3 pb-5">
<div class="col-12">
  <h2 class="glbf pb-3">Our Team</h2>
</div>
<div class="row m-0 p-2" style="width: 100%;">
  <div class="col-md-4 mt-2">
    <div class="card">
      <div class="card-body row">
        <div class="col-4">
          <img class="card_img_avatar" src="../../assets/ankita.png" />
        </div>
        <div class="col-8" style="align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
        padding: 0;">
        <span><img class="" style="width: 20px;" src="../../assets/ind.png" /></span>
          <span style="font-size: 20px;"> <b>ANKITA SISODIA</b></span> <br>
          <span style="font-size: 15px;"> <b>Business Development Head</b></span>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4 mt-2">
    <div class="card">
      <div class="card-body row">
       <div class="col-4">
          <img class="card_img_avatar" src="../../assets/shyamal.png" />
        </div>
        <div class="col-8" style="align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
        padding: 0;">
        <span><img class="" style="width: 20px;" src="../../assets/ind.png" /></span>
          <span style="font-size: 20px;"> <b>SHYAMAL SASMAL</b></span> <br>
          <span style="font-size: 15px;"> <b>Head: Supply & Logistics</b></span>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4 mt-2">
    <div class="card">
      <div class="card-body row">
       <div class="col-4">
          <img class="card_img_avatar" src="../../assets/adem.png" />
        </div>
        <div class="col-8" style="    align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
        padding: 0;">
        <span><img class="" style="width: 20px;" src="../../assets/ind.png" /></span>
          <span style="font-size: 20px;"> <b>ADEM DEMIKIRAN</b></span> <br>
          <span style="font-size: 15px;"> <b>Head: New Initiatives</b></span>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

