<nav class="navbar navbar-expand-xl navbar-dark " aria-label="Sixth navbar example" style="    z-index: 5;
position: fixed;
width: 100%;">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample06"
      aria-controls="navbarsExample06" aria-expanded="false" aria-label="Toggle navigation" style="width: 70px;
      border: 1px solid #fcb433;
      background: #fcb433;">
      <img src="../assets/pancakes_svg.png" style="width: 100%;" />
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample06">
      <ul class="navbar-nav me-auto mb-2 mb-xl-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/about_us"></a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/menu"></a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/store_locator"></a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/franchise"></a>
        </li>
      </ul>
      <form role="search">
        <input class="form-control" type="search" placeholder="Search" aria-label="Search">
      </form>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>

<div class="parent">
  <button class="round-6">
    <div>
      <img src="../assets/store-solid.svg" />
      <p>JOIN US</p>
    </div>
  </button>
</div>

<a href="https://api.whatsapp.com/send?phone=51955081075&text=Hola%21%20Quisiera%20m%C3%A1s%20informaci%C3%B3n%20sobre%20Varela%202." class="float" target="_blank">
 
  </a>